{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Home {% endblock title %}

{% block body %} 
<section class="mt-5"></section>
    {% if Kazakh %}
  <header class="section-heading">
    <h5 class="section-title">KAZAKH SONGS</h5>
  </header>
<hr>

<!-- Song list -->
<div class="row" style="margin-right: 65px;margin-left:-15px">
  {% for song in Kazakh %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'play_song_index' song.id %}"><i class="fa fa-play" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}

      <a href="{% url 'category-detail' 'Kazakh' %}" class="btn btn-primary float-right ms-5" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
</div>
<br>
<br>

        {% if  Russian_pop %}
  <header class="section-heading">
    <h5 class="section-title">Russian pop SONGS</h5>
  </header>
<hr>

<!-- Song list -->
<div class="row" style="margin-right: 65px;margin-left:-15px">

  {% for song in Russian_pop %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'play_song_index' song.id %}"><i class="fa fa-play" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}

      <a href="{% url 'category-detail' 'Russian_pop' %}" class="btn btn-primary float-right ms-5" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
</div>
<br>
<br>

        {% if Kpop %}
  <header class="section-heading">
    <h5 class="section-title">Kpop SONGS</h5>
  </header>
<hr>

<!-- Song list -->
<div class="row" style="margin-right: 65px;margin-left:-15px">

  {% for song in Kpop %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'play_song_index' song.id %}"><i class="fa fa-play" aria-hidden="true"></i></a>
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}

      <a href="{% url 'category-detail' 'Kpop' %}" class="btn btn-primary float-right" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
</div>
<br>
<br>

<br>
<br>
<br>
<br>
<br>


<footer class="footer">
    <div class="player" style="display: flex; flex-direction: row; height: 150px; padding-left: 10px;padding-top:10px;background-color: #459dfb;">
      <div class="left"><img src="{{last_played.song_img.url}}" height="90" width="90" style="border-radius: 10px 10px 10px 10px;"></div>
      <div class="right">
         <div class="top" style="margin-top: 10px">
            <a class="song" style="margin-left: 15px;color: white;">{{last_played.name}}</a>
            <a class="artist" style="margin-left: 15px;color:white">{{last_played.album}}</a>
         </div>
         <div class="bottom" style="margin-top: 10px">
          {% if first_time %}
            <audio controls=""  name="media" style="margin-left: 20px;margin-bottom: 10px;width: 1230px;height:30px"><source src="{{last_played.song_file.url}}" type="audio/mpeg" ></audio>
              {% else %}
              <audio controls="" autoplay name="media" style="margin-left: 20px;margin-bottom: 10px;width: 1230px;height:30px"><source src="{{last_played.song_file.url}}" type="audio/mpeg" ></audio>
                {% endif %}
          </div>
      </div>
    </div>
</footer>

{% endblock body %}
