{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Home {% endblock title %}

{% block body %} 

<br>
<div class="container">
  <div class="col-md-13">
    <form id="searchform" class="form-horizontal" role="search" method="get" action=''>
          <div class="form-group">
              <div class="input-group">
                  {% csrf_token %}
                  <input type="text" class="form-control input-lg " name="search_field" placeholder="Search here" style="border-radius: 5px;"
                  value="{{ request.GET.search_field }}" placeholder= "Search Songs "/>
                  <span class='input-group-btn mx-2'>
                    <button type="submit" style="border-radius: 5px;" class="btn btn-primary">Search</button>
                  </span>
              </div>
          </div>
      </form>
  </div>

{% if query_search %}
  <header class="section-heading">
    <h5 class="section-title">SEARCH RESULTS</h5>
  </header>
<hr>
{% endif %}


{% if not query_search %}

  <header class="section-heading">
    <a href="{% url 'all_songs' %}" class="btn btn-primary float-right">View all</a>
    <h5 class="section-title">ALL SONGS</h5>
  </header>
<hr>
{% endif %}

<div class="row" style="margin-right: 65px;margin-left:-15px">
  {% if all_songs %}
  {% for song in all_songs %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if not query_search %}
      <a href="{% url 'all_songs' %}" class="btn btn-primary float-right" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
    </div>
<br>
<br>


{% if not query_search %}
  <header class="section-heading">
    <h5 class="section-title">POP MUSIC</h5>
  </header>
<hr>
{% endif %}
<div class="row" style="margin-right: 65px;margin-left:-15px">
  {% if pop %}
  {% for song in pop %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">
                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if not query_search %}
      <a href="{% url 'pop_music' %}" class="btn btn-primary float-right" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
</div>
<br>
<br>

{% if not query_search %}
  <header class="section-heading">
    <h5 class="section-title">ROCK MUSIC</h5>
  </header>
<hr>
{% endif %}
<div class="row" style="margin-right: 65px;margin-left:-15px">
  {% if rock %}
  {% for song in rock %}
      <div class="col-md-2">
          <div class="hovereffect">
            <img src="{{ song.song_img.url}}" class="img-responsive" height="135" width="135" style="border-radius: 8px 8px 8px 8px;">
            <div class="overlay">

                <a class="btn btn-outline-light mt-5 mx-1" href="{% url 'detail' song.id %}"><i class="fa fa-info-circle" aria-hidden="true"></i></a>
             </div>
          </div>
      </div>
      {% endfor %}
      {% endif %}
      {% if not query_search %}
      <a href="{% url 'rock_music' %}" class="btn btn-primary float-right" style="height: 135px;"><center style="margin-top: 45px;">View all <i class="fa fa-arrow-right" aria-hidden="true"></i></center></a>
      {% endif %}
    </div>
</div>



{% endblock body %}