{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}
{% block title %} Pop Music {% endblock title %}

{% block body %}
    <div class="container">
        {% if user_email %}
            <h5>email: {{ user_email }} </h5>
            {{ password }}
            <hr>
            <h5> Change Password</h5>
            <form method="post">
                {% csrf_token %}
                <input type="password" name="new_pass">
                <input class="btn btn-primary" type="submit" value="Change" name="delete"}>
            </form>
        {% endif %}
    </div>
{% endblock body %}