{#{% extends "news/layout.html"%}#}
{##}
{#{% block content %}#}
{#  {% if search_res %}#}
{#  <br>#}
{#    {% for article in search_res%}#}
{#      <ol>#}
{#        <li value="{{forloop.counter}}">#}
{#          <a href="{% url 'news:get_article_by_id' article.id %}">#}
{#          <p>{{article.article_heading}}</p>#}
{#        </a>#}
{#        {{article.article_text|truncatewords:10}}#}
{#        </li>#}
{#      </ol>#}
{#      {%endfor%}#}
{#    {% else %}#}
{#      {{empty_res}}#}
{#    {% endif %}#}
{#{% endblock%}#}
